/*------------------------------------------------------------------
    IMPORT FONTS
-------------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700");

/* Reset cơ bản */
body {
  font-weight: 400;
  margin: 0;
  background: white;
}

* {
  box-sizing: border-box;
}

a {
  color: #003c2d;
  font-weight: 500;
  -webkit-transition: 0.3s color;
  transition: 0.3s color;
}

a:hover {
  color: #bed747;
  text-decoration: none;
}

/* header */
header {
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
  background: white;
  color: black;
  padding: 20px 50px;
  display: flex;
  align-items: center;
  height: 115px;
  border: 3px solid #bed747;
  border-radius: 99px;
}

/* Logo bên trái */
.logo-section {
  flex: 1;
}

/* Căn giữa menu */
.menu-section {
  flex: 2;
  display: flex;
  justify-content: center;
}

.menu-section .sidebar {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-section .sidebar li {
  margin: 0 15px;
}

.menu-section .sidebar li a {
  color: #003c2d;
  font-weight: bold;
}

.menu-section .sidebar li a:hover {
  color: #bed747;
}

/* Thông báo và Admin bên phải */
.user-section {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.user-section > div {
  margin-left: 20px;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.user-section > div:hover {
  color: #bed747;
}

.user-info .user-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
}

/* main */
.main-content {
  position: absolute;
  left: 150px;
  right: 150px;
  height: calc(100% - 115px - 80px); /* Trừ đi chiều cao của header và footer */
  padding: 15px;
  overflow-y: auto;
  overflow-x: hidden;
}

.main-content .row div {
  margin-bottom: 15px;
}

/* footer */
.last-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #15161d;
  color: #ffffff;
  justify-content: center; 
  align-items: center; 
  border-top: 3px solid #bed747; 
}

.last-content .col-6 {
  max-width: 600px;
  margin: 0 auto;
}

.last-content .card-header {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
  color: #bed747; /* Màu chữ của tiêu đề */
}

.last-content .card-body p {
  font-size: 1em;
  margin: 5px 0;
}

.last-content strong {
  color: #d10024; /* Màu chữ nổi bật cho các số liệu */
}
